body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}
.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(81, 149, 185);
    border-bottom:black;
    justify-content: space-between;
    padding: 5px;
    cellspacing: 0;
}
.logo h3 {
    text-decoration: solid;
    margin-left: 50px;
}

.link a {
    font-size: 16px;
    text-decoration: none;
    color: #333;
    margin-right: 40px;
    transition: color 0.3s;
    align-items: center;
}
.p1 {
    font-size: 20px;
    font-color: blue;
}
.p2 {
    font-size: 50px;
    font-color: black;
}
    
.main{
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJhdmVsJTIwc2Vhc2lkZXxlbnwwfHwwfHx8&auto=format&fit=crop&");
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    padding: 100px;
}
.explore{
    background-color: rgb(81, 149, 185);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.div1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-right: 100px;
    margin-left: 100px;
    border:none;
    font-color: rgb(81, 149, 185);
}
strong{
    font-size: 20px;
    color: rgb(37, 35, 35);
}
p{
    color: rgb(94, 86, 86);
}